div .login-view{
  width: 30vw;
  height: 50vh;
}

.grid-container {
  height: 100%;
}

.grid-item-organization-table {
  height: 75%;
  padding: 16px;
}

.grid-item-organization-table.toggled {
  height: 25%;
  padding: 16px;
}

.grid-item-organization-add {
  height: 25%;
  padding: 16px;
}

.grid-item-organization-add.toggled {
  height: 75%;
  padding: 16px;
}

.card-organization-table {
  height: 100%;
}

.card-organization-add {
  height: 100%;
}
