body {
    background: white;
}

.title{
    color: white;
    padding: 4pt;
}

/*dont work use js file for css?*/
.topbar{
    background: #000;
    color: #000;
}

.button{
    background-color: white;
    color: white;
}